// js/navigation.css - Created on 2020-05-28

// Implementation
// js/navigation.css - Created on 2020-07-20

// Implementation
// js/navigation.css - Created on 2020-08-28

// Implementation
/**
 * navigation CSS file
 * Created on: 2020-11-17
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here

/**
 * navigation CSS file
 * Created on: 2020-11-17
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-11-27
// Implementing essential features

// Added core functionality on 2020-12-18
// Implementing essential features

// Added core functionality on 2021-03-26
// Implementing essential features

// Added search feature on 2022-08-06
// Enhancing user experience

// Added export feature on 2023-03-14
// Enhancing user experience
/**
 * navigation CSS file
 * Created on: 2023-04-11
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-07-03
// Implementing essential features
/**
 * navigation CSS file
 * Created on: 2020-03-06
 * Author: Nasserxx
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here

/**
 * navigation CSS file
 * Created on: 2020-04-01
 * Author: Nasserxx
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-08-12
// Implementing essential features

// Added core functionality on 2020-09-22
// Implementing essential features
/**
 * navigation CSS file
 * Created on: 2021-11-16
 * Author: Nasserxx
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added login feature on 2021-12-23
// Enhancing user experience

// Added login feature on 2022-01-07
// Enhancing user experience
/**
 * navigation CSS file
 * Created on: 2020-03-16
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here

/**
 * navigation CSS file
 * Created on: 2021-04-26
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here

