/**
 * frontend CSS file
 * Created on: 2023-01-27
 * Author: Nasserxx
 *
 * Description: Implementation of frontend functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-05-25
// Implementing essential features
