/**
 * UI CSS file
 * Created on: 2021-12-31
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added registration feature on 2023-05-17
// Enhancing user experience

// Added core functionality on 2020-04-09
// Implementing essential features

// Added core functionality on 2020-05-13
// Implementing essential features

// Added core functionality on 2020-07-07
// Implementing essential features

// Added core functionality on 2021-04-21
// Implementing essential features

// Added import feature on 2022-09-30
// Enhancing user experience

// Added import feature on 2022-10-18
// Enhancing user experience

// Added core functionality on 2020-06-19
// Implementing essential features

// Added core functionality on 2020-06-23
// Implementing essential features
