/**
 * layout CSS file
 * Created on: 2020-01-21
 * Author: Nasser Awad
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here

/**
 * layout CSS file
 * Created on: 2020-04-08
 * Author: Nasser Awad
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here

/**
 * layout CSS file
 * Created on: 2020-05-25
 * Author: Nasser Awad
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here


// Added pagination feature on 2022-06-07
// Enhancing user experience

// Added settings feature on 2022-11-15
// Enhancing user experience

// Added profile feature on 2023-01-27
// Enhancing user experience

// Added dashboard feature on 2023-04-20
// Enhancing user experience
/**
 * layout CSS file
 * Created on: 2023-06-28
 * Author: Nasserxx
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here


// Added login feature on 2023-09-20
// Enhancing user experience
/**
 * layout CSS file
 * Created on: 2020-02-12
 * Author: Nasser Awad
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here

/**
 * layout CSS file
 * Created on: 2020-07-17
 * Author: Nasser Awad
 *
 * Description: Implementation of layout functionality
 */
 
// Implementation goes here

