/**
 * backend CSS file
 * Created on: 2023-08-27
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-04-10
// Implementing essential features

// Added core functionality on 2020-05-15
// Implementing essential features

// Added core functionality on 2021-01-29
// Implementing essential features

// Added core functionality on 2021-07-29
// Implementing essential features

// Added registration feature on 2021-12-08
// Enhancing user experience

// Added registration feature on 2022-09-01
// Enhancing user experience

// Added import feature on 2022-10-17
// Enhancing user experience

// Added core functionality on 2020-08-31
// Implementing essential features

// Added core functionality on 2021-04-01
// Implementing essential features
