/**
 * navigation CSS file
 * Created on: 2022-10-27
 * Author: Nasser Awad
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added settings feature on 2022-05-30
// Enhancing user experience

// Added pagination feature on 2022-09-16
// Enhancing user experience

// Added profile feature on 2023-02-02
// Enhancing user experience

// Added profile feature on 2023-05-04
// Enhancing user experience
/**
 * navigation CSS file
 * Created on: 2024-01-12
 * Author: Nasserxx
 *
 * Description: Implementation of navigation functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-04-15
// Implementing essential features

// Added core functionality on 2020-07-17
// Implementing essential features
