/**
 * UI CSS file
 * Created on: 2020-01-09
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

/**
 * UI CSS file
 * Created on: 2020-04-26
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

// docs/UI.css - Created on 2020-06-19

// Implementation
// docs/UI.css - Created on 2020-07-26

// Implementation
// docs/UI.css - Created on 2020-08-21

// Implementation

// Added core functionality on 2020-12-06
// Implementing essential features

// Added core functionality on 2021-05-17
// Implementing essential features
/**
 * UI CSS file
 * Created on: 2021-05-17
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

/**
 * UI CSS file
 * Created on: 2021-09-14
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

/**
 * UI CSS file
 * Created on: 2022-10-14
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added login feature on 2022-10-25
// Enhancing user experience

// Added pagination feature on 2023-07-24
// Enhancing user experience

// Added profile feature on 2023-09-11
// Enhancing user experience

// Added core functionality on 2020-05-12
// Implementing essential features
/**
 * UI CSS file
 * Created on: 2020-05-18
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-06-22
// Implementing essential features
/**
 * UI CSS file
 * Created on: 2020-02-13
 * Author: NasserXX
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

/**
 * UI CSS file
 * Created on: 2020-05-07
 * Author: NasserXX
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-11-11
// Implementing essential features
/**
 * UI CSS file
 * Created on: 2021-09-24
 * Author: Nasserxx
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added core functionality on 2021-10-06
// Implementing essential features

// Added search feature on 2022-03-02
// Enhancing user experience

// Added search feature on 2022-03-04
// Enhancing user experience
/**
 * UI CSS file
 * Created on: 2022-10-17
 * Author: Secondary Developer
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-04-07
// Implementing essential features
/**
 * UI CSS file
 * Created on: 2020-09-06
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here

/**
 * UI CSS file
 * Created on: 2020-11-05
 * Author: Nasser Awad
 *
 * Description: Implementation of UI functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-12-18
// Implementing essential features
