/**
 * backend CSS file
 * Created on: 2020-02-06
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here

/**
 * backend CSS file
 * Created on: 2021-01-28
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here


// Added profile feature on 2022-02-18
// Enhancing user experience

// Added import feature on 2022-04-01
// Enhancing user experience

// Added profile feature on 2022-05-11
// Enhancing user experience
/**
 * backend CSS file
 * Created on: 2020-02-23
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here

/**
 * backend CSS file
 * Created on: 2020-05-10
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here

/**
 * backend CSS file
 * Created on: 2020-04-13
 * Author: NasserXX
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-07-01
// Implementing essential features
/**
 * backend CSS file
 * Created on: 2020-08-07
 * Author: Nasserxx
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here


// Added core functionality on 2020-11-01
// Implementing essential features

// Added core functionality on 2021-02-02
// Implementing essential features

// Added core functionality on 2021-06-30
// Implementing essential features

// Added login feature on 2022-01-19
// Enhancing user experience

// Added pagination feature on 2022-05-02
// Enhancing user experience
/**
 * backend CSS file
 * Created on: 2022-06-03
 * Author: Nasserxx
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here

/**
 * backend CSS file
 * Created on: 2020-08-11
 * Author: Nasser Awad
 *
 * Description: Implementation of backend functionality
 */
 
// Implementation goes here

